@media (max-width: 767px) {
  body {
    background-color: #171717;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    top: 80px;
  }

  .App {
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 90%;
    margin: auto;
    top: 20px;
  } 
}